* {
    margin: 0;
    padding: 0;
}

.card-columns {
    column-count: 3;
    column-gap: 1em;
    float: left;
}


.card-img {
    position: relative;
    height: 300px;
    width: 300px;
    overflow: hidden;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
}
.card-img img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
h5 {
    font-family: sans-serif;
    top:0;
    padding-bottom:5px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.card-rows {
    display: table;
}

.btn {
    margin: 4px 0;
    margin-right: 15px;
}

.btn {
    border: none;
    background-color: cadetblue;
    text-align: center;
    padding: 7px 22px;
}

    .btn:hover {
        color: white;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        transition-duration: 0.4s;
    }

input{
    padding:4px;
}