* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-columns {
    column-count: 3;
    column-gap: 1em;
    float: left;
}

img {
    width: 50%;
    overflow: hidden;
    z-index: -1;
}

h5 {
    position: absolute;
    top: 1em;
    right: .5em;
    font-family: sans-serif;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-rows {
    display: table;
}

.btn {
    margin: 4px 0;
    margin-right: 15px;
}

.btn {
    border: none;
    background-color: cadetblue;
    text-align: center;
    padding: 7px 22px;
}

    .btn:hover {
        color: white;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        transition-duration: 0.4s;
    }
